
.ipynb_checkpoints/Generalized_Gamma-Constrained_MLE-checkpoint.ipynb
.ipynb_checkpoints/Generalized_Gamma-Constrained_MLE-Replication_Bustos_Leyva-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Generalized_Gamma-Constrained_MLE-Reparametrization-checkpoint.ipynb
.ipynb_checkpoints/Generalized_Beta_TypeII-Constrained_MLE-Reparametrization-checkpoint.ipynb
